SEC_DETECT_MODE_ANOMALY_FANOUT_SPIKE=alert
SEC_DETECT_MODE_ANOMALY_LEVEL_SHIFT=alert
SEC_DETECT_MODE_ANOMALY_NEW_SERVICE=alert
SEC_DETECT_MODE_ANOMALY_SERVICE_WAVE=alert
SEC_DETECT_MODE_ANOMALY_VOLUME_SPIKE=alert
SEC_DETECT_MODE_DDOS_AMP_REQUEST=alert
SEC_DETECT_MODE_DDOS_CARPET_BOMBING=alert
SEC_DETECT_MODE_DDOS_SPOOFED_EGRESS=alert
SEC_DETECT_MODE_DDOS_SRC_FLOOD=alert
SEC_DETECT_MODE_DDOS_SYN_FLOOD=alert
SEC_DETECT_MODE_DDOS_VICTIM_CONVERGENCE=alert
SEC_DETECT_MODE_REFL_DNS=alert
SEC_DETECT_MODE_REFL_GENERIC=alert
SEC_DETECT_MODE_REFL_MEMCACHED=alert
SEC_DETECT_MODE_REFL_NTP=alert
SEC_DETECT_MODE_REFL_SSDP=alert
SEC_DETECT_MODE_SCAN_COORDINATED=alert
SEC_DETECT_MODE_SCAN_HORIZONTAL=alert
SEC_DETECT_MODE_SCAN_SWEEP_SLOW=alert
SEC_DETECT_MODE_SCAN_SYN_UNANSWERED=alert
SEC_DETECT_MODE_SCAN_VERTICAL=alert
SEC_DETECT_MODE_SMTP_FANOUT=alert
SEC_DETECT_MODE_SMTP_LOW_RATE=alert
SEC_DETECT_MODE_SMTP_PORT25_POLICY=alert
SEC_DETECT_MODE_SMTP_REFUSED=alert
SEC_DETECT_MODE_SMTP_SMALL_SESSION=alert
SEC_DETECT_MODE_SMTP_STALLED=alert
SEC_DETECT_MODE_SMTP_VOLUME=alert