SEC_MIT_ENABLED=true
SEC_MIT_TLS_INSECURE=true
SEC_MIT_DRY_RUN=false
SEC_MIT_VERIFY_RULES=false
SEC_MIT_PW=TO4leZ03PglUxMukAK1H
SEC_MIT_LOCAL_IPS=10.215.6.13
SEC_MIT_MAX_CUSTOMERS_BLOCKED_PER_HOUR=200
SEC_MIT_MAX_CUSTOMERS_BLOCKED_PER_HOUR=2000
SEC_MIT_MAX_CUSTOMERS_BLOCKED_PER_HOUR=2000
SEC_MIT_TICK_SECONDS=30